.carousel-item {
  height: 30vh;
}
.card {
box-shadow: rgba(40, 184, 15, 0.24) 0px 3px 8px;
}
.footer-cta {
box-shadow: #fbfbe385
}
.price {
color: #263238;
font-size: 24px;
}

.card-title {
color:#263238
}

.sale {
color: #8135e5
}

.sale-badge {
background-color: #cee535
}